body{
  padding: 0;
  margin: 0; 
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
  min-height: 100vh;
  height: 100%;
  background-color: lightsteelblue;
}
input, button{
  padding: 20px; 
  margin-bottom: 20px;
  font-size: large;
}

input{
  outline: none;
}

input::placeholder{
  text-transform: capitalize;
}

button {
  cursor: pointer;
  border:none
}

button:active{
  transform: scale(0.98);
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}